<!doctype html>
<!-- vim: set tabstop=2 shiftwidth=2 softtabstop=2 expandtab : -->
<html lang="en">
  <head>
    <title>YNAB CSV Converter</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
      integrity="sha512-ubuT8Z88WxezgSqf3RLuNi5lmjstiJcyezx34yIU2gAHonIi27Na7atqzUZCOoY4CExaoFumzOsFQ2Ch+I/HCw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="./app.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"
      integrity="sha512-dfX5uYVXzyU8+KHqj8bjo7UkOdg18PaOtpa48djpNbZHwExddghZ+ZmzWT06R5v6NSk3ZUfsH6FNEDepLx9hPQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

    <script src="src/file_utils.js"></script>
    <script src="src/data_object.js"></script>
    <script src="src/app.js"></script>
    <script
      src="https://js.sentry-cdn.com/9984f4ed07f54d7ca6107525f0d990a1.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-ZNWHWW4QYB");
    </script>
  </head>
  <body
    ng-controller="ParseController"
    ng-class="{angular_loaded: angular_loaded}"
  >
    <div id="header_nav" class="show_on_load">
      <div class="container">
        <div class="float-right" ng-if="data_object.base_json">
          <div
            class="btn btn-info"
            ng-click="reloadApp()"
            data-testid="reload-button"
          >
            <i class="fa fa-refresh"></i> Load a different file
          </div>
          <div
            class="btn btn-success"
            ng-click="downloadFile()"
            data-testid="download-button"
          >
            <i class="fa fa-cloud-download"></i> Save YNAB Data
          </div>
        </div>
        <div class="form-inline">
          <a
            href="https://github.com/aniav/ynab-csv/issues/new"
            target="_blank"
            class="btn btn-secondary"
            ><i class="fa fa-exclamation-circle"></i> Report an issue</a
          >
        </div>
      </div>
    </div>

    <div
      dropzone="data.source"
      filename="filename"
      encoding="{{file.chosenEncoding}}"
      delimiter="{{file.chosenDelimiter}}"
      data-testid="dropzone"
    >
      <div class="container mx-auto show_on_load" style="width: 600px">
        <br />
        <div
          id="upload_wrapper"
          ng-if="!data_object.base_json"
          data-testid="upload-wrapper"
        >
          <div id="drop_text">Drop CSV or Excel file</div>
          <form>
            <div class="fileUpload btn btn-info">
              <span>Or choose <i class="fa fa-folder-open"></i></span>
              <input
                id="file"
                type="file"
                accept=".csv,.xlsx,.xls,.xlsm,.xlsb"
                fileread="data.source"
                filename="filename"
                encoding="{{file.chosenEncoding}}"
                delimiter="{{file.chosenDelimiter}}"
                data-testid="file-input"
              />
            </div>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-outline-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                data-testid="config-dropdown"
              >
                Input file config
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-form p-2">
                  <file-parsing-settings
                    file="file"
                    profiles="profiles"
                    profile-name="profileName"
                    on-encoding-change="encodingChosen(encoding)"
                    on-delimiter-change="delimiterChosen(delimiter)"
                    on-start-row-change="startRowSet(row)"
                    on-extra-row-change="extraRowSet(extraRow)"
                    on-profile-change="profileChosen(profileName)"
                    show-profiles="nonDefaultProfilesExist()"
                  ></file-parsing-settings>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div
          class="container"
          id="tool_wrapper"
          ng-if="data_object.base_json"
          data-testid="tool-wrapper"
        >
          <!-- Settings section -->
          <div class="settings-section mb-3">
            <button
              class="btn btn-outline-secondary btn-sm"
              type="button"
              ng-click="showSettings = !showSettings"
              data-testid="settings-toggle"
            >
              <i
                class="fa"
                ng-class="{'fa-chevron-down': !showSettings, 'fa-chevron-up': showSettings}"
              ></i>
              File parsing settings
            </button>
            <div class="settings-content mt-2" ng-show="showSettings">
              <div class="card">
                <div class="card-body">
                  <file-parsing-settings
                    file="file"
                    profiles="profiles"
                    profile-name="profileName"
                    on-encoding-change="reparseFile()"
                    on-delimiter-change="reparseFile()"
                    on-start-row-change="reparseFile()"
                    on-extra-row-change="reparseFile()"
                    on-profile-change="profileChosen(profileName)"
                    show-profiles="nonDefaultProfilesExist()"
                  ></file-parsing-settings>
                </div>
              </div>
            </div>
          </div>

          <!-- Excel worksheet selector for multi-sheet files -->
          <div
            class="form-group mb-3"
            ng-if="data_object.worksheetNames && data_object.worksheetNames.length > 1"
          >
            <label for="worksheet">Excel worksheet:</label>
            <select
              id="worksheet"
              ng-model="file.selectedWorksheet"
              class="form-control"
              ng-change="worksheetChosen(file.selectedWorksheet)"
              data-testid="worksheet-select"
            >
              <option
                ng-repeat="name in data_object.worksheetNames track by $index"
                ng-value="$index"
                ng-selected="$index == file.selectedWorksheet"
              >
                {{name}}
              </option>
            </select>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="float-right">
                <div
                  ng-show="ynab_cols.indexOf('Inflow') != -1 && ynab_map['Inflow'] == ynab_map['Outflow']"
                  class="btn btn-outline-secondary"
                  ng-click="invert_flows()"
                  data-testid="invert-flows-button"
                >
                  <i class="fa fa-exchange"></i> Invert flows
                </div>
                <div
                  class="btn btn-outline-secondary"
                  ng-click="toggleColumnFormat()"
                  data-testid="toggle-format-button"
                >
                  <i class="fa fa-exchange"></i> Toggle column format
                </div>
              </div>
              <h4>
                YNAB Data <small>(first 10 rows)</small>
                <span
                  ng-if="filename"
                  class="badge badge-info ml-2"
                  data-testid="file-type-badge"
                >
                  <i
                    class="fa"
                    ng-class="{'fa-file-excel-o': FileUtils.isExcelFile(filename), 'fa-file-text-o': !FileUtils.isExcelFile(filename)}"
                  ></i>
                  {{FileUtils.getFileType(filename)}}
                </span>
              </h4>
              <div class="clearfix"></div>
            </div>
            <div class="table-container">
              <table
                class="table table-sm table-striped"
                data-testid="data-preview-table"
              >
                <thead>
                  <tr>
                    <th
                      scope="col"
                      class="form-group"
                      ng-repeat="col in ynab_cols"
                      data-testid="column-header-{{col}}"
                    >
                      <label for="id-{{col}}">{{col}}</label>
                      <select
                        class="form-control"
                        id="id-{{col}}"
                        ng-model="ynab_map[col]"
                        ng-options="f for f in data_object.fields()"
                        data-testid="column-select-{{col}}"
                      >
                        <option value="">Choose option</option>
                      </select>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    ng-repeat="row in preview"
                    data-testid="preview-row-{{$index}}"
                  >
                    <td
                      ng-repeat="col in ynab_cols"
                      data-testid="preview-cell-{{$parent.$index}}-{{$index}}"
                    >
                      {{row[col]}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="container" ng-if="data_object.base_json">
          <div class="card">
            <div class="card-header">
              <strong>Imported {{FileUtils.getFileType(filename)}}</strong>
              <em>(first 10 rows)</em>
            </div>
            <div class="table-container table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th ng-repeat="col in data_object.fields()">{{col}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in data_object.rows() | limitTo:10">
                    <td ng-repeat="col in data_object.fields()">
                      {{row[col]}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="angular_is_loading">
      <div class="loading_text">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </div>
    </div>
  </body>
</html>
